#splashgrid .container {
  width: 80%;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  #splashgrid .container {
    width: 100%;
  }
}

#splashgrid .grid {
  display: grid;
  padding: 3rem 1rem;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}

@media only screen and (max-width: 768px) {
  #splashgrid .grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    padding: 3rem 0;
  }
}

#splashgrid .grid__item {
  list-style: none;
  padding: 1rem;
}

@media only screen and (max-width: 768px) {
  #splashgrid .grid__item {
    padding: 0.5rem 0;
  }
}

#splashgrid .grid__image {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#splashgrid .grid__image:hover {
  filter: sepia(50%);
}
